@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --basic-size-font-family: "Poppins", Helvetica;
  --basic-size-font-size: 24px;
  --basic-size-font-style: normal;
  --basic-size-font-weight: 600;
  --basic-size-letter-spacing: 0px;
  --basic-size-line-height: 32px;
  --body-medium-semibold-font-family: "Figtree", Helvetica;
  --body-medium-semibold-font-size: 16px;
  --body-medium-semibold-font-style: normal;
  --body-medium-semibold-font-weight: 600;
  --body-medium-semibold-letter-spacing: 0px;
  --body-medium-semibold-line-height: 140%;
  --darkdark-4: rgba(150, 154, 161, 1);
  --fontprimary-white: rgba(255, 255, 255, 1);
  --gray: rgba(239, 244, 251, 1);
  --iconprimary: rgba(255, 255, 255, 1);
  --natural-color-2white: rgba(255, 255, 255, 1);
  --neutral-20: rgba(50, 47, 53, 1);
  --tailgrids-text-color: rgba(99, 115, 129, 1);
  --text-color: rgba(100, 116, 139, 1);
  --text-secondary-54p: rgba(0, 0, 0, 0.54);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
